#**********************************************************************************************************************#
#   The python packages in this file will be install in the seconds.                                                   #
#   And the dependencies automatically resolves and installs for all the packages listed                               #
#   Order install the requirement files:                                                                               #
#       1. requirements-first.txt [install the packages one by one]                                                    #                                                                  
#       2. requirements.txt       [The dependencies automatically resolves and installs for all the packages listed]   #
#       3. requirements-last.txt  [install the packages one by one]                                                    #
#                                                                                                                      #
#**********************************************************************************************************************#
annotated-types==0.7.0
anyio==4.5.0
audioread==3.0.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
exceptiongroup==1.2.2
fastapi==0.115.0
h11==0.14.0
idna==3.10
importlib-resources==6.4.5
jinja2==3.1.4
joblib==1.4.2
librosa==0.7.0
llvmlite==0.31.0
MarkupSafe==2.1.5
numba==0.48.0
numpy==1.19.5
opencv-contrib-python==4.5.4.60
opencv-python==4.5.4.60
pillow==10.4.0
pycparser==2.22
pydantic==2.9.2
pydantic-core==2.23.4
python-multipart==0.0.10
requests==2.32.3
resampy==0.3.1
scikit-learn==1.3.2
scipy==1.10.1
six==1.16.0
sniffio==1.3.1
sounddevice==0.5.0
soundfile==0.12.1
starlette==0.38.6
threadpoolctl==3.5.0
tqdm==4.45.0
typing-extensions==4.12.2
urllib3==2.2.3
uvicorn==0.30.6
zipp==3.20.2
